Q1. Explain with an example each when to use a for loop and a while loop.

solution1 : for loop can be used to iterate over an list and while loop can be used when we need user input
            examples are given below

In [2]:
#To get square of every element of list
l = [1,2,3,4,5]
for i in l:
    i = i*2
    print(i)

2
4
6
8
10

In [3]:
#to get factorial of given number
number = int(input("enter your number"))
factorial = 1
while number > 0:
    factorial = factorial*number
    number = number-1
print("factorial of given number" , "is", factorial)

enter your number 5

factorial of given number is 120



Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
    and while loop.

In [4]:
#example of for loop
sum = 0
product = 1
for n in range(1,11):
    sum = sum + n
    product = product * n
print("sum of first 10 natural number is" , sum ,"\nproduct of first 10 natural number is ", product)

sum of first 10 natural number is 55
product of first 10 natural number is  3628800

In [5]:
#example for while loop
sum = 0
product = 1
n= 1
while n <= 10:
    sum = sum + n
    product = product * n
    n = n+1
print("sum of first 10 natural number is" , sum ,"\nproduct of first 10 natural number is ", product)

sum of first 10 natural number is 55
product of first 10 natural number is  3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [6]:
input1 = int(input("units of electricity consumed in a month"))
if input1 <=100:
    total_electricity_bill = 4.5*input1
elif input1 >100 and input1 <=200:
    total_electricity_bill = 4.5*100 +6*(input1-100)
elif input1 >200 and input1 <=300:
    total_electricity_bill = 4.5*100 + 6*100 +10*(input1-200)
else:
     total_electricity_bill = 4.5*100 + 6*100 +10*(100)+20*(input1-300)
print("the total electricity bill will be", total_electricity_bill)

units of electricity consumed in a month 310

the total electricity bill will be 2250.0

In [7]:
total_electricity_bill

2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
 number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
 that list.

In [8]:
#for loop
l= range(1,101)
l1 = []
for i in l:
    i = i**3
    if i%4==0 or i%5==0:
        l1.append(i)
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [9]:
#while loop
l1 = []
i = 1
while i<=100:
    a = i**3
    if a%4==0 or a%5==0:
        l1.append(a)
    i = i+1

print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

 Q5. Write a program to filter count vowels in the below-given string.
     string = "I want to become a data scientist"

In [13]:
str1 = "I want to become a data scientist"
l =  ["a","e","i","o","u"]
l2 = []
for i in range(0,len(str1)):
    if str1[i] in l:
        l2.append(str1[i])
print(len(l2))

11